/* CSS by Emily Nappen */

/* --- Color Palette --- 

    White: #F0F1F2
    Black: #0D0D0D
    Light Sky Blue: #96bcd3
    Sky Blue: #87bceb
    Warm Tan: #F2D6B3

*/

/* Global Styles (base) MOBILE FIRST */
body {
    background-color: #F0F1F2;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header, nav, footer {
    text-align: center;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    align-items: center;
    margin-right: 1.5rem;
    margin-left: 1rem;
}
#logo {
    padding: 0.5rem;
    max-width: 8rem;
    margin: 1rem;
}


/* Main Elements*/
main {
    background-color: #F2D6B3;
    padding: 1rem;
}
#HitB-main {
    padding: 1rem;
}

h1 {
    font-size: 2rem;
}



/* --- Navigation --- */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #87bceb;    
}
nav ul li {
    justify-content: space-between;
    letter-spacing: 0.5px;
    flex: 1;
    text-align: center;
}
nav a {
    text-decoration: none;
    color:#F0F1F2;
    font-weight: bold;
    background-color: #87bceb;
    padding: 0.5rem;
    display: block;
}
nav a:hover {
    background-color: #F0F1F2;
    color: #87bceb;
    border: 2px solid #87bceb;
}

/* Footer Elements */
.social-media img {
    max-width: 30px;
    padding: 0.5rem;
}
footer {
    background-color: #87bceb;
    color: rgb(15, 63, 151);
    font-weight: 500;
}

/* Contact Elements */
.social-feature {
    max-width: 55px;
    padding: 1rem;
}

/* --- Banner --- */
#banner-container {
    align-items: center;
    background-color: white;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    margin: 1rem;
}
#banner {
    width: 100%;
    max-width: 573px;
    height: auto;
    display: block; 
}
#banner-text {
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

/* --- Card Row --- */
.card-row {
    margin: 1rem;
    background-color: #F0F1F2;
    padding: 1rem;   
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}
.card {
    flex: 1 1 300px;
    padding: 1.5rem;
    max-width: 250px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    margin: 1rem;
    background-color: #F0F1F2;
}
.card img {
    width: 250px; 
    object-position: center;
}
.card-row a {
    text-decoration: none;
    color: black;
}
.card:hover {
    box-shadow: 5px 10px 20px #87bceb;
}

/* About Me */
#about-me {
    padding: 2rem;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: #F0F1F2;
}
#self {
    max-width: 300px;
}

/* Contact */
#Contact {
    background-color: #F0F1F2;
    padding: 1rem;
}
#social-feature {
    max-width: 55px;
}

/* Holiday in the Breezeway Project */
#HitB-packages, .Promo {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    box-sizing: border-box;
}
#HitB-packages img {
    flex: 1 1 300px;
    max-width: 400px;
    width: 100%;
    height: auto;
}
#staged-content {
    display: grid;
}
#staged-content img {
    max-width: 340px;
    width: 100%;
    height: auto; 
}

/*  */
.Promo-Concepts {
    flex: 1 1 150px;
    max-width: 300px;
    width: 100%;
    height: auto;
}

/* Project Case Study Page Format */
.project-page {
    background-color: #F0F1F2;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    max-width: 100%;
}
.project-page img {
    max-width: 100%;
}
.project-page section {
    margin: 1rem;
}

/* FieldHaven */
#sm-strategy, #sm-results {
    max-width: 700px;
    width: 100%;
    height: auto;
}

/* SCAC Art Radio Logo */
#SCAC-concepts {
    max-width: 500px;
    width: 100%;
    height: auto;  
}

/* At Height Images */
#AHI-brainstorming{
    max-width: 600px;
    width: 100%;
    height: auto;
}
#AHI-branding {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
#AHI-branding img {
    flex: 0 0 50%;
    max-width: 300px;
    height: auto;
}
#AHI-brandguide1 {
    max-width: 600px;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1000px) {

    .card-row {
        display: flex;
        flex-wrap: wrap;
    }

    #banner-container {
        display: flex;
        justify-content: center;
    }
    #banner-text {
        text-align: center;
        justify-content: center;
    }

}