/* CSS by Emily Nappen */

/* --- Color Palette --- 

    White: #F0F1F2
    Black: #0D0D0D
    Light Sky Blue: #96bcd3
    Sky Blue: #9BCAF2
    Warm Tan: #F2D6B3

*/

/* Global Styles (base) MOBILE FIRST */
body {
    background-color: #F0F1F2;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
}

header, nav, footer {
    text-align: center;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
}
#logo {
    padding: 0.5rem;
    max-width: 8rem;
    margin: 1rem;
}


/* Main Elements*/
main {
    background-color: #F2D6B3;
}

h1 {
    font-size: 2rem;
}



/* --- Navigation --- */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    justify-content: space-between;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    letter-spacing: 0.5px;
    flex: 1;
    text-align: center;
}
nav a {
    text-decoration: none;
    color:#F0F1F2;
    font-weight: bold;
    background-color: #87bceb;
    padding: 0.5rem;
    display: block;
}

#social-media img {
    max-width: 40px;
    padding: 1rem;
}

.social-feature {
    max-width: 55px;
    padding: 1rem;
}


/* --- Banner --- */
#banner {
    width: 100%;
    max-width: 573px;
    height: auto;
    display: block; 
}
#banner-text {
    text-align: center;
    justify-content: center;
    background-color: white;
    padding: 1rem;
}

/* --- Card Row --- */
.card-row {
    margin: 2rem;
}
.card {
    flex: 1 1 300px;
    padding: 1.5rem;
    max-width: 300px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    margin: 2rem;
    background-color: #F0F1F2;
}
.card img {
    width: 300px; 
    object-position: center;
}

/* About Me */
#about-me {
    padding: 2rem;
}
#self {
    max-width: 300px;
}

/* Contact */
#social-feature {
    max-width: 55px;
}

@media screen and (min-width: 1000px) {

    .card-row {
        display: flex;
        flex-wrap: wrap;
    }

    #banner-container {
        display: flex;
        justify-content: center;
    }
    #banner-text {
        text-align: center;
        justify-content: center;
    }

}